<h1>Students New</h1>

<%= form_for @student do |f| %>
  <%= f.label 'Name' %><br>
  <%= f.text_field :name %><br>
 
  <%= f.label 'Age' %><br>
  <%= f.number_field :age %><br>
 
  <%= f.submit "Create Student" %>
<% end %>
