<h1>Enrollments New</h1>

<%= form_for @enrollment do |f|%>
    <%= f.label 'Course'%>
    <%= f.collection_select(:course_id, Course.all, :id, :name)%>
    <%= f.collection_select(:student_id, Student.all, :id, :name)%>
    <%= f.submit%>
<%end%>
